@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import './reset.css';

:root {
    --container-width: 1270px;
    --container-padding: 15px;
    --color-muted: rgba(15, 31, 28, 0.5);
    --orange: #ff7c4e;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f6f6;
    color: #0f1f1c;
}
/*будем добавлять в мобильной версии для body*/
.no-scroll {
    overflow-y: hidden;
}
.none {
    display: none !important;
}
.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}
.container-right {
    padding-left: calc(
        (100% - var(--container-width)) / 2 + var(--container-padding)
    );
}
.container-left {
    padding-right: calc(
        (100% - var(--container-width)) / 2 + var(--container-padding)
    );
}

/*Header*/
.header {
    overflow: hidden;
    position: relative;
    min-height: 940px;
    padding-top: 44px;
    background: linear-gradient(132deg, #428e5f -17.38%, #112120 78.4%), #204434;
    color: #fff;
}
.header a {
    color: #fff;
}

.header::after {
    content: '';

    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 96px;

    background-image: url('./../img/header/header-bottom.svg');
    background-size: 100%;
}
.header__top {
    margin-bottom: 86px;
    position: relative;
}
.header__row {
    display: flex;
}
.header__content {
    max-width: 592px;
    position: relative;
    z-index: 1;
}
.header__img {
    position: relative;
    flex-grow: 1; /*чтобы пустой контейнер занимал всю свою ширину, т.к. картинка из него ушла в абсолют*/
}
.header__img img {
    position: absolute;
    pointer-events: none;
    top: -181px;
    right: -87px;

    max-width: unset; /*отменяем резет свойство 100% */
    width: 894px;
    height: 940px;
}
.header__img::after {
    content: '';

    position: absolute;
    left: -145px;
    top: -10px;
    width: 830px;
    height: 622px;

    background-image: url('./../img/header/header-elements.svg');
    background-repeat: no-repeat;
    pointer-events: none;
}

/*Nav*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px; /*страховочный отступ между блоками*/
}
.nav__list {
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-weight: 500;
}
.nav__list a {
    position: relative;
}
.nav__list a.active::after,
.nav__list a:hover::after {
    content: '';

    position: absolute;
    left: 0px;
    right: 10px;
    bottom: -6px;
    /* width: 35px; */
    height: 4px;
    border-radius: 100px;
    background: #c4c4c4;
    transition: all 0.3s ease-in;
}
.nav__list.nav__list--footer a.active::after,
.nav__list.nav__list--footer a:hover::after {
    display: none;
}
.nav__list.nav__list--footer a.active,
.nav__list.nav__list--footer a:hover {
    color: var(--orange);
}
.nav__login {
    display: flex;
    align-items: center;
    column-gap: 25px;
    font-size: 15px;
    font-weight: 500;
}
.nav__toggle {
    display: none;
}
/*Logo*/
.logo {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.logo a {
    color: inherit !important; /*наследует от родителя*/
}
.logo--footer {
    color: var(--orange);
}

/*Header content*/
.header__badge {
    margin-bottom: 7px;
    display: inline-block; /*чтобы размер был в пределах контента*/
    padding: 11px 30px;
    font-style: 18px;
    font-weight: 500;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.25);
}
.header__title {
    margin-bottom: 30px;
    font-size: 55px;
}
.header__text {
    margin-bottom: 68px;
    font-size: 25px;
    font-weight: 700;
    color: rgb(255, 255, 255, 0.5);
}

/*Destinations*/
.destinations {
    padding: 96px 0 100px;
    overflow-x: hidden; /*чтобы не было горизонтального скролла, когда уходит слайдер*/
}
.destinations__row {
    display: flex;
    column-gap: 49px;
}
.destinations__content {
    max-width: 456px;
}
.destinations__slider {
    width: 1110px;
    flex-shrink: 0; /*чтобы ширина слайдера не уменьшалась, а уходила за горизонт*/
}
.destinations__title {
    margin-bottom: 15px;
    font-size: 55px;
    font-weight: 600;
}
.destinations__title span {
    font-size: 30px;
}
.destinations__text {
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: 500;
    color: var(--color-muted);
    /* width: 456px; */
}

/*Slider*/
.slider {
    position: relative;
    height: 456px;
}
.slider__item {
    margin-top: 27px;
    width: 335px;
    height: 402px;
    object-fit: cover; /*для корректного масштабирования*/
    border-radius: 35px;

    transition: 0.2s ease-in;
}
.slider .center .slider__item {
    margin-top: 0;
    width: 380px;
    height: 456px;
}
.slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%), #8b8b8b;

    display: flex;
    align-items: center;
}
.slider__btn--prev {
    left: -27px;

    padding-left: 26px;
    justify-content: flex-start;
}
.slider__btn--next {
    right: -27px;

    padding-right: 26px;
    justify-content: flex-end;
}

/*Customers*/
.customers {
    padding: 100px 0 133px;
}
.customers__row {
    display: flex;
    column-gap: 68px;
}
.customers__img {
    max-width: 478px;
}
.customers__img img {
    border-radius: 60px;
}
.customers__title {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 35px;
}

/*Review*/
.review {
    max-width: 490px;
}
.review__client {
    display: flex;
    align-items: center;
    column-gap: 33px;
    margin-bottom: 60px;
}
.review__client-avatar {
    overflow: hidden;
    width: 134px;
    height: 134px;
    border-radius: 50%;

    background: #ff794e;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.review__client-desc-name {
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 10px;
}
.review__client-desc-country {
    font-size: 25px;
    color: var(--color-muted);
}
.review__text {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 500;
    color: var(--color-muted);
}

/*Cta*/
.cta {
    padding: 100px 0;
}
.cta__plate {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 580px;
    background: #fff;
    border-radius: 60px;
    padding: 40px 15px;
}
.cta__plate::before,
.cta__plate::after {
    position: absolute;
    width: 63px;
    height: 83px;
    content: '';
}
.cta__plate::before {
    left: 74px;
    bottom: 56px;
    background-image: url('./../img/cta/cta-el-02.svg');
}
.cta__plate::after {
    top: 74px;
    right: 80px;
    background-image: url('./../img/cta/cta-el-01.svg');
}

.cta__title {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 30px;
}
.cta__text {
    font-size: 30px;
    font-weight: 400;
    color: var(--color-muted);
    margin-bottom: 60px;
}

/*Subscribe*/
.subscribe {
    padding: 35px 0 50px;
}
.subscribe__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.subscribe__title {
    max-width: 494px;
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 60px;
}

/*Subscribe-form */
.subscribe-form {
    display: flex;
    column-gap: 190px;

    padding: 12px 15px 12px 46px;
    border-radius: 35px;
    background-color: #fff;
}
.subscribe-form__input {
    font-size: 24px;
    font-weight: 500;
}
.subscribe-form__input::placeholder {
    color: var(--color-muted);
}

/*Footer*/
.footer {
    padding: 56px 0 74px;
}
.footer a {
    color: var(--color-muted);
}

/*Buttons*/
.btn {
    display: inline-block;
    padding: 25px 45px;
    color: #ffffff !important;

    background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%);
    border-radius: 27px;

    font-size: 20px;
    font-weight: 600;
}
.btn:hover {
    color: rgb(245, 233, 127) !important;
    transition: color 0.3s ease-in;
}
.btn:active {
    position: relative;
    top: 1px;
}
.btn--login {
    font-size: 15px;
    font-weight: 500;
    border-radius: 100px;
    padding: 13px 44px;
}
.btn--header {
    padding: 27px 48px;
    font-size: 25px;
}
.btn--subscribe {
    padding: 36px 86px;
    font-size: 25px;
    border-radius: 35px;
}
/*Menu Icon*/
.menu-icon-wrapper {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-icon {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #fff;
}
.menu-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon.menu-icon-active {
    background-color: transparent;
}
.menu-icon.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.menu-icon.menu-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/*Media*/
@media (max-width: 1269px) {
    .container-right {
        padding-left: 15px;
    }
    .container-left {
        padding-right: 15px;
    }
    .header__img::after {
        display: none;
    }
}
@media (max-width: 1200px) {
    .destinations__slider {
        width: 900px;
    }
}
@media (max-width: 1000px) {
    .nav__list--header {
        display: none;
    }
    .nav__login--header {
        display: none;
    }
    .nav {
        column-gap: 50px;
    }
    .nav__list {
        column-gap: 50px;
    }
    .nav__toggle {
        display: block;
    }
    .nav--mobile {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
        align-items: center;

        background: linear-gradient(132deg, #428e5f -17.38%, #112120 78.4%),
            #204434;
    }
    .nav--mobile .logo {
        font-size: 34px;
    }
    .nav--mobile .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;

        font-size: 22px;
    }
    .nav--mobile .nav__list a.active::after,
    .nav--mobile .nav__list a:hover::after {
        display: none;
    }
    .nav--mobile .nav__login {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;

        font-size: 22px;
    }
    .nav--mobile .nav__toggle {
        position: fixed;
        top: 40px;
        right: 40px;
    }
    .header__img img {
        right: -256px;
    }
    .destinations__slider {
        width: 600px;
    }
    .slider {
        height: 304px;
    }
    .slider .slider__item {
        margin-top: 18px;
        width: 223px;
        height: 268px;
    }
    .slider .center .slider__item {
        margin-top: 0;
        width: 253px;
        height: 304px;
    }
}
@media (max-width: 850px) {
    .container-right {
        padding-right: 15px;
    }
    .header {
        padding-top: 20px;
        min-height: unset;
        height: auto;
    }
    .header__top {
        margin-bottom: 44px;
    }
    .header__row {
        flex-direction: column;
    }
    .header__img img {
        position: static;
        width: 70%;
        height: auto;
    }
    .header__title {
        margin-bottom: 20px;
        font-size: 35px;
    }
    .header__text {
        max-width: 400px;
        margin-bottom: 40px;
        font-size: 20px;
    }
    .header__badge {
        margin-bottom: 5px;
        padding: 8px 20px;
        font-size: 16px;
        border-radius: 10px;
    }
    .btn--header {
        padding: 20px 30px;
        font-size: 20px;
        border-radius: 18px;
    }
    .destinations {
        padding: 40px 0 50px;
    }
    .destinations__row {
        flex-direction: column;
        row-gap: 30px;
    }
    .destinations__slider {
        width: 100%;
    }
    .slider__btn--prev {
        left: -15px;
    }
    .slider__btn--next {
        right: -15px;
    }
    .destinations__title {
        margin-bottom: 10px;
        font-size: 35px;
    }
    .destinations__title span {
        font-size: 20px;
        display: block;
    }
    .destinations__text {
        margin-bottom: 30px;
        font-size: 20px;
    }
    .btn {
        padding: 20px 35px;
        border-radius: 20px;
        font-size: 18px;
    }
    .btn--login {
        padding: 13px 44px;
        font-size: 15px;
        font-weight: 500;
        border-radius: 100px;
    }
    /*Customers*/
    .customers {
        padding: 50px 0 60px;
    }
    .customers__row {
        flex-direction: column-reverse;
        row-gap: 30px;
    }
    .customers__title {
        margin-bottom: 25px;
        font-size: 35px;
    }
    .review__client {
        column-gap: 30px;
        margin-bottom: 20px;
    }
    .review__client-avatar {
        width: 80px;
        height: 80px;
    }
    .review__client-desc-name {
        margin-bottom: 5px;
        font-size: 23px;
    }
    .review__client-desc-country {
        font-size: 18px;
    }
    .review__text {
        margin-bottom: 20px;
        font-size: 18px;
    }
    .review__rating {
        max-width: 200px;
    }
    .customers__img {
        max-width: 300px;
        border-radius: 40px;
    }
    /*Cta*/
    .cta {
        padding: 50px 0;
    }
    .cta__title {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .cta__text {
        margin-bottom: 30px;
        font-size: 20px;
    }
    .cta__plate {
        min-height: 380px;
        padding: 20px 15px;
        border-radius: 40px;
    }
    .cta__plate::after {
        display: none;
    }
    /*Subscribe*/
    .subscribe {
        padding: 25px 0 30px;
    }
    .subscribe__title {
        font-size: 35px;
        margin-bottom: 30px;
    }
    .subscribe-form {
        column-gap: 85px;
    }
    /*Footer*/
    .nav__login--footer {
        display: none;
    }
}
@media (max-width: 600px) {
    .nav--footer {
        flex-direction: column-reverse;
        row-gap: 30px;
    }
}
@media (max-width: 460px) {
    .nav--mobile .nav__toggle {
        top: 20px;
        right: 20px;
    }
    .nav--mobile .nav__list,
    .nav--mobile .nav__login {
        row-gap: 20px;
    }
    .cta__plate::before {
        left: 13px;
        bottom: 25px;
    }
}
